* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Gugi', sans-serif, cursive;
  }
  
  /*header Section*/
  
  /*navigation section*/
  
  nav ul {
    list-style-type: none;
    display: none;
  }
  
  nav ul a {
    display: block;
    background: rgba(3, 8, 0, 0.5);
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #07d8b5;
    transition: color 1s ease, background 1s ease, padding 1s ease;
  }
  
  nav ul a:hover {
    background: #f8f7f5;
    color:  #020500;
    padding-left: 20px;
  }
  
  nav ul a:active {
    background: #474747;
    color: #f8f7f5;
    padding-left: 20px;
  }
  
  .nav-container img {
    width: 50px;
    align-self: center;
  }
  
  .logo {
    color:#07d8b5;
    align-self: center;
    text-transform: uppercase;
  }
  
  .nav-container {
    padding: 0 20px;
    background: rgb(0, 22, 0);
    border-bottom: 4px solid #046d4d;
    display: flex;
    justify-content: space-between;
  }
  
  .bar {
    width: 20px;
    height: 3px;
    margin: 5px;
    background:#046d4d;
  }
  
  .btn {
    padding: 8px;
    display: inline-block;
    border: 1px solid #046d4d;
    margin: 3px;
    height: 25px;
  }
  
  .header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/header-img.jpg)center/cover fixed no-repeat;
    display: flex;
    flex-direction: column;
  }
  
  nav {
    flex: 0 0auto;
  }
  
  .banner {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
  }
  
  .banner h1 {
    margin-top: 100px;
    color: #f8f7f5;
    font-size: 30px;
  }
  .banner h3 {
    font-size: 15px;
    color:#ffffff;
  }
  .button {
    background-color:  #046d4d;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 30px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .banner-icons {
    padding: 5px 0 2px;
    margin:3px;
  }
  
  .banner-icons a {
    display: inline block;
    font-size: 20px;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 50%;
    color:  #046d4d;
    transition: color 1s ease, transform 1s ease;
  }
  
  .banner-icons a:hover {
    color: #07d8b5;
    transform: translateY(-10px);
  }
  
  nav {
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  
  
  
  /* navigation big screen*/
  
  @media screen and (min-width:750px) {
    .nav-container {
      display: none;
    }
    nav ul {
      display: flex !important;
      flex-wrap: wrap;
      justify-content: center;
      background: rgb(0, 22, 0);
    }
    nav ul a {
      font-size: 15px;
    }
    .logo {
      color: #07d8b5;
      align-self: center;
      margin-right: 150px;
    }
    nav ul a {
      background: transparent;
    }
    nav ul a:hover {
      background: transparent;
      padding-left: 20px;
      color:#f8f7f5;
    }
    nav ul a:active {
      background: transparent;
      color: #f8f7f5;
      padding-left: 20px;
    }
    
  .banner {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .banner h1 {
    margin-top: 100px;
    color: #f8f7f5;
    font-size: 50px;
  }
  .banner h3 {
    font-size: 30px;
    color:#f8f7f5;
  }
   .button {
    background-color:  #046d4d;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  .banner-icons {
    padding: 20px;
  }
  }